* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Playfair Display', serif;;
  color: #a8a8a8;
}

body {
  width: 100%;
  height: 100%;
  background: url("images/backgd.jpg") no-repeat center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #3e3b40;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #c2c0a7;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-list-element {
  font-family: 'Yellowtail', bold;
  font-size: 4rem;
}

.nav-list-element:hover,
.nav-list-element:focus {
  background: linear-gradient(to top, #0227ad, #7f3f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 6.5rem;
}

section {
  padding: 6rem;
}

.section-heading h2 {
  color: #fff1cc;
  font-size: 5rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
}

.menu-toggle.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #6075a1, #7f3f96);
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.1, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.1, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.name-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  height: 40vh;
}

.name-header h1 {
  font-size: 7rem;
  font-family: 'Yellowtail', bold;
  background: #fff1cc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.name-header h4 {
  color: #fff1cc;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 4rem 0 4rem 0;
}

.about-heading h2 {
  color: #fff1cc;
  font-size: 6rem;
}

.about-heading h5 {
  color: #fff1cc;
  font-size: 2.5rem;
  font-weight: 600;
}

.profile-img {
  flex: 0.5;
  max-width: 500px;
  max-height: 700px;
  width: relative;
  height: relative;
}

.intro {
  margin-bottom: 15px;
}

p {
  font-size: 20px;
}

.about-details .nav-list {
  flex-direction: row;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #ccd7ff;
}

.social-media i:hover {
  color: #fff1cc;
}

.skillset {
  margin-top: 150px;
}

.skillset h2, .projects h2 {
  border-bottom: 2px solid #fff1cc;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.my-skills {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 5rem;
}

.skills h3 {
  color: #fff1cc;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 2rem -2px 2rem 0;
}

.skills p {
  line-height: 2;
}

.projects h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-img {
  flex: 1;
}

.project-item img {
  max-width: 500px;
  max-height: 700px;
  width: relative;
  height: relative;
}

.project-desc {
  flex: 1;
  text-align: center;
}

.project-desc p {
  line-height: 1.5;
}

.project-desc .cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #ccd7ff;
}

.project-desc h3 {
  font-size: 2.2rem;
  text-align: center;
  color: #fff1cc;
  text-transform: uppercase;
  font-weight: 1000;
  margin: 2rem 0 1.5rem 0;
}

.project-desc p {
  margin-bottom: 30px;
}

.project-desc .cta:hover {
  color: #fff1cc;
}

.contact h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-links {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ccd7ff;
}
.contact-links:hover {
  color: #fff1cc;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #1c1f29;
  padding: 1rem 0;
  position: relative;
}

.copyright p {
  font-size: 1.5rem;
}

/************************/

@media screen and (min-width: 1024px) { 
  .name-header h1 {
    font-size: 10rem;
  }
  
  .name-header h4 {
    font-size: 2rem;
  }

  .menu-toggle {
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
  }

  .nav-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-list-element {
    font-size: 5rem;
    padding: 1rem;
  }

  .about .container {
    flex-direction: row;
  }
  
  .about-heading {
    line-height: 1;
    margin-bottom: 6rem;
  }
  
  .about-heading h2 {
    font-size: 10rem;
  }
  
  .about-heading h5 {
    font-size: 3rem;
  }
  
  .profile-img {
    margin-right: 5rem;
    margin-left: 1rem;
  }
  
  .about-details {
    flex: 0.5;
  }
  
  .my-skills {
    margin-top: 10rem;
  }

  .my-skills {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
  }

  .projects {
    margin: 10rem 0 5rem 0;
  }

  .project-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .has-margin-right {
    margin-right: 5rem;
  }

  .project-img {
    width: 50%;
    height: 50%;
  }
  
  .project-desc h3 {
    margin-bottom: 2rem;
  }
  
  .project-desc p {
    margin-bottom: 0.5rem;
  }
  
  .contact {
    margin: 10rem 0 5rem 0;
  }
  
}